<?xml version="1.0" encoding="UTF-8"?>
<phpunit>
  <testsuites>
    <testsuite name="matrix">
      <file>test/matrix/TestMatrix.php</file>
      <file>test/matrix/TextBiPolarUtil.php</file>
      <file>test/matrix/TestMatrixMath.php</file>
      <file>test/matrix/TestDecomp.php</file>
      <file>test/neural/data/bipolar/TestBiPolarNeuralData.php</file>
      <file>test/neural/activation/TestActivationBiPolar.php</file>
      <file>test/neural/activation/TestActivationGaussian.php</file>
      <file>test/neural/activation/TestActivationLOG.php</file>
    </testsuite>
  </testsuites>
</phpunit>